*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    background-color: #4d2323;
}
.app{
    margin-top: 3rem;
    height: 600px;
    /* background-image: linear-gradient(to right,rgb(171, 101, 101),white); */
    width: 400px;
    border: 5px solid white;
    /* max-width: fit-content;
       margin-left: auto;
       margin-right: auto; */
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: aliceblue;
}
.app input{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    width: 150px;
    text-align: center;
}
.app button{
    padding: 1rem;
    border-radius: 20px;
    background-color: #4d2323;
    color: white;
}
.message{
    height: 200px;
    background-color: white;
    margin-top: 40px;
    width: 90%;
    border-radius: 20px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}